body{
height: 1000px;
position: relative;
}
.test {
  background-color: aqua;
  height: 80vh;
}
.test2 {
  background-color: rgb(43, 255, 0);
  height: 10vh;
  z-index: 3;
}
button {
  position: absolute;
  bottom: 20px;
  right: 30px;
  background-color: blueviolet;
}
